
src/.vs/

bin/
obj/

src/Blazor_Healthy/.vs/Blazor_Healthy/FileContentIndex/
src/Blazor_Healthy/.vs/Blazor_Healthy/FileContentIndex/

src/Blazor_Healthy/.vs/Blazor_Healthy/v17/.suo
src/Blazor_Healthy/.vs/Blazor_Healthy/v17/.suo
